.home {
  h1 {
    width: "100%";
    color: $text-color;
  }

  .featured-posts-container {
    // track — fills the min-height you allow it to be
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .home {
    h1 {
      margin-block-start: 1.5em;
      margin-block-end: 1.5em;
    }

    .featured-post-container {
      flex-direction: column;
    }
  }
}
