.site-navigation {
  height: 65px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  color: $text-color;

  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
  }
}
